@model List<Contact>
<section id="section8">
	@foreach (var item in Model)
	{
		<div class="container">
			<h2>Bana Ulaşın</h2>

			<div class="row">
				<div class="col-sm-5">
					<h5>İletişim Adresleri</h5>
					<ul class="list-icons list-unstyled">
						<li><i class="ion-ios-location-outline"></i>@item.Address</li>
						<li><i class="ion-iphone"></i>Telefon: @item.Phone</li>
						<li><i class="ion-ios-email-outline"></i>Email: <a href="mailto:example@gmail.com">@item.Email</a></li>
						<li><i class="ion-ios-home-outline"></i>Websitem: <a href="">@item.WebSite</a></li>
					</ul>
					<div class="spacer"></div>
					<div class="social-icons">
						<a href="" class="social-icon"><i class="fa fa-facebook"></i></a>
						<a href="" class="social-icon"><i class="fa fa-twitter"></i></a>
						<a href="" class="social-icon"><i class="fa fa-google-plus"></i></a>
						<a href="" class="social-icon"><i class="fa fa-behance"></i></a>
						<a href="" class="social-icon"><i class="fa fa-dribbble"></i></a>
					</div> <!-- end .social-icons -->
					<div class="spacer"></div>
				</div>
				<div class="col-sm-7">
					<h5>İletişim Formu</h5>
					<form action="scripts/contact.php" method="post" class="form-horizontal contact-form">
						<div class="form-group">
							<label class="col-sm-2 control-label">İsim</label>
							<div class="col-sm-10">
								<input type="text" class="contact-name" name="contact-name" />
							</div> <!-- end .col-sm-10 -->
						</div> <!-- end .form-group -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="contact-email" name="contact-email" />
							</div> <!-- end .col-sm-10 -->
						</div> <!-- end .form-group -->
						<div class="form-group">
							<label class="col-sm-2 control-label">Mesaj</label>
							<div class="col-sm-10">
								<textarea name="contact-message" class="contact-message" rows="3"></textarea>
							</div> <!-- end .col-sm-10 -->
						</div> <!-- end .form-group -->
						<div class="form-group">
							<div class="col-sm-10 col-sm-offset-2">
								<button type="submit" class="button solid-button purple">Mesajı Gönder</button>
							</div> <!-- end .col-sm-10 -->
						</div> <!-- end .form-group -->
						<div class="contact-loading alert alert-info form-alert">
							<span class="message">Yükleniyor...</span>
							<button type="button" class="close" data-hide="alert" aria-label="Close"><i class="fa fa-times"></i></button>
						</div>
						<div class="contact-success alert alert-success form-alert">
							<span class="message">Başarılı!</span>
							<button type="button" class="close" data-hide="alert" aria-label="Close"><i class="fa fa-times"></i></button>
						</div>
						<div class="contact-error alert alert-danger form-alert">
							<span class="message">Hata!</span>
							<button type="button" class="close" data-hide="alert" aria-label="Close"><i class="fa fa-times"></i></button>
						</div>
					</form> <!-- end contact-form -->
				</div>
			</div>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.7546999966457!2d27.225623175726817!3d38.456603371821465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b97cd613b60187%3A0x92f60c749816beea!2sEge%20%C3%9Cniversitesi!5e1!3m2!1str!2str!4v1764807021778!5m2!1str!2str" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			@* <div class="map" id="map">
				<iframe src="@item."
						width="600"
						height="450"
						style="border:0;"
						allowfullscreen=""
						loading="lazy"
						referrerpolicy="no-referrer-when-downgrade">
				</iframe>
			</div> *@
		</div> <!-- end .container -->
	}
</section> 